.App {
  text-align: center;
}
.form-content{
  width: 30%;
}
.input-content{

}

.input-content>label{
display: flex;
justify-content: flex-start;
width: 300px; 
margin: 10px 0px;

}
.input-content>input, .input-content>select{
padding: 10px; 
width: 300px; 
display: flex
}
.submit{
  margin-top: 20px;
  padding: 10px;
  width: 100px;
}